/* overlay */
#page-transition {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom right, #0f1225, #0b0d1a, #000);
  z-index: 9999;

  transform: translateY(100%);
  transition: transform 0.6s ease-in-out;
}

/* active */
#page-transition.active {
  transform: translateY(0);
}

/* page enter */
.page {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.page.enter {
  opacity: 1;
  transform: translateY(0);
}
